{% extends "base.html" %}

{% block content %}

	<div class="page-wrapper">
		<div class="container">
			<div class="col-lg-12">
				<div class="row">
				<form method="post" action="/process_form/">

					<div class="panel panel-default">
					
						<div class="panel-heading">
							<h4> Patient Information</h4>
						</div>
						<div class="panel-body" >
						<div style="max-height: 70%;overflow-y: scroll;">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Parameters</th>
										<th>Fields</th>
									</tr>
								</thead>
								
									
								<tbody>
								
									
										<tr>
											<td>Encounter ID</td>
											<td><input type="text" name="encounter_id"  value="12345"class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Patient Number</td>
											<td><input type="text" name="patient_nbr" class="form-control"/></td>
										
										</tr>	
										<tr>
											<td>Race</td>
											<td><input type="text" name="race" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Gender</td>
											<td><input type="text" name="gender" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Age</td>
											<td><input type="text" name="age" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Weight</td>
											<td><input type="text" name="weight" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Admission Type</td>
											<td><input type="text" name="admission_type_id" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Discharge Disposition</td>
											<td><input type="text" name="discharge_disposition_id" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Admission Source</td>
											<td><input type="text" name="admission_source_id" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Time in Hospital</td>
											<td><input type="text" name="time_in_hospital" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Payer Code</td>
											<td><input type="text" name="payer_code" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Medical Specialty</td>
											<td><input name="medical_specialty" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Number of Lab Procedures</td>
											<td><input name="num_of_lab_procedures" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Number of Procedures</td>
											<td><input name="num_procedures" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Number of Medications</td>
											<td><input name="num_medications" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Number of Outpatient Visits</td>
											<td><input name="number_outpatient" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Number of Emergency Visits</td>
											<td><input name="number_emergency" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Number of Inpatient Visits</td>
											<td><input name="number_inpatient" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Diagnosis 1</td>
											<td><input name="diag_1" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Diagnosis 2</td>
											<td><input name="diag_2" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Diagnosis 3</td>
											<td><input name="diag_3" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Number of Diagnoses</td>
											<td><input type="text" name="number_diagnoses"class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Glucose Serum Test Result</td>
											<td><input name="max_glu_serum" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>A1c Test Result</td>
											<td><input type="text" name="A1Cresult" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Metformin</td>
											<td><input name="metformin" type="text" class="form-control"/></td>

										</tr>
                                        <tr>
											<td>Repaglinide</td>
											<td><input name="repaglinide" type="text" class="form-control"/></td>

										</tr>
                                        <tr>
											<td>Nateglinide</td>
											<td><input name="nateglinide" type="text" class="form-control"/></td>

										</tr>
                                        <tr>
											<td>chlorpropamide</td>
											<td><input name="chlorpropamide" type="text" class="form-control"/></td>

										</tr>
                                        <tr>
											<td>Glimepiride</td>
											<td><input name="glimepiride" type="text" class="form-control"/></td>

										</tr>
                                        <tr>
											<td>Acetohexamide</td>
											<td><input name="acetohexamide" type="text" class="form-control"/></td>

										</tr>
										<tr>
											<td>Glipizide</td>
											<td><input name="glipizide" type="text" class="form-control"/></td>
										
										</tr>
										<tr>
											<td>Glyburide</td>
											<td><input name="glyburide" type="text" class="form-control"/></td>
										
										</tr>
                                        <tr>
											<td>Tolbutamide</td>
											<td><input name="tolbutamide" type="text" class="form-control"/></td>

										</tr>
                                        <tr>
											<td>Piogliatazone</td>
											<td><input name="piogliatazone" type="text" class="form-control"/></td>

										</tr>
                                        <tr>
											<td>Rosiglitazone</td>
											<td><input name="rosiglitazone" type="text" class="form-control"/></td>

										</tr>
                                         <tr>
											<td>Acarbose</td>
											<td><input name="acarbose" type="text" class="form-control"/></td>

										</tr>
                                         <tr>
											<td>Miglitol</td>
											<td><input name="miglitol" type="text" class="form-control"/></td>

										</tr>
                                         <tr>
											<td>Troglitazone</td>
											<td><input name="troglitazone" type="text" class="form-control"/></td>

										</tr>
                                         <tr>
											<td>Tolazamide</td>
											<td><input name="tolazamide" type="text" class="form-control"/></td>

										</tr>
                                        <tr>
											<td>Examide</td>
											<td><input name="examide" type="text" class="form-control"/></td>

										</tr>
                                        <tr>
											<td>Examide</td>
											<td><input name="examide" type="text" class="form-control"/></td>

										</tr>

                                        <tr>
											<td>Citoglipton</td>
											<td><input name="citoglipton" type="text" class="form-control"/></td>

										</tr>
                                        <tr>
											<td>Insulin</td>
											<td><input name="insulin" type="text" class="form-control"/></td>


										</tr>
                                         <tr>
											<td>Glyburide.metformin</td>
											<td><input name="glyburide.metformin" type="text" class="form-control"/></td>


										</tr>

                                 <tr>
											<td>Insulin</td>
											<td><input name="insulin" type="text" class="form-control"/></td>


										</tr>
                                <tr>
											<td>Glipizide.metformin</td>
											<td><input name="glipizide.metformin" type="text" class="form-control"/></td>


										</tr>

                                        <tr>
											<td>Glimepiride.pioglitazone</td>
											<td><input name="glimepiride.pioglitazone" type="text" class="form-control"/></td>


										</tr>
                                 <tr>
											<td>Glimepiride.pioglitazone</td>
											<td><input name="glimepiride.pioglitazone" type="text" class="form-control"/></td>


										</tr>
                                 <tr>
											<td>Metformin.rosiglitazone</td>
											<td><input name="metformin.rosiglitazone" type="text" class="form-control"/></td>


										</tr>
                                 <tr>
											<td>Glimepiride.pioglitazone</td>
											<td><input name="glimepiride.pioglitazone" type="text" class="form-control"/></td>


										</tr>
                                        <tr>
											<td>Metformin.pioglitazone</td>
											<td><input name="metformin.pioglitazone" type="text" class="form-control"/></td>


										</tr>
                                <tr>
											<td>Change</td>
											<td><input name="change" type="text" class="form-control"/></td>


										</tr>
                                <tr>
											<td>DiabetesMed</td>
											<td><input name="diabetesMed" type="text" class="form-control"/></td>


										</tr>
                                <tr>
											<td>Readmitted</td>
											<td><input name="readmitted" type="text" class="form-control"/></td>


										</tr>





									
									</tbody>
								</table>
								</div>
							
							
							
							
							
							
							
							
							
						
						</div>
						<div class="panel-footer">
							<button type="submit" class="btn btn-info">Update Records</button>
							<a class="btn btn-warning" href="http://betterDAI.tech">Cancel</a>
						</div>
						
						
						
					
					</div>
				</form>
				
				</div>
			</div>
			
		</div>
	</div>	
	
{% endblock %}